<h2>Korisnička Ploča</h2>
<hr>

<div class="row mb-4">
  <div class="col-md-6 col-lg-4" *ngIf="occupancy$ | async as occupancyData">
    <div class="card text-white bg-info">
      <div class="card-body">
        <h5 class="card-title">Trenutno korisnika u teretani</h5>
        <p class="card-text display-4">{{ occupancyData.occupancy }}</p>
      </div>
    </div>
  </div>
</div>


<div *ngIf="myStats$ | async as stats; else loading">
  <h4>Moja Aktivnost</h4>
  <p class="lead">
    Ukupan broj mojih dolazaka: <strong>{{ stats.totalVisits }}</strong>
  </p>

  <table *ngIf="stats.visits.length > 0; else noVisits" class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Vrijeme ulaska</th>
        <th scope="col">Vrijeme izlaska</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let visit of stats.visits">
        <td>{{ visit.checkInTime | date:'dd.MM.yyyy.' }}</td>
        <td>{{ visit.checkInTime | date:'HH:mm' }}</td>
        <td>{{ visit.checkOutTime ? (visit.checkOutTime | date:'HH:mm') : 'Još ste u teretani' }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noVisits>
    <div class="alert alert-info">Još niste zabilježili nijedan dolazak.</div>
  </ng-template>
</div>

<ng-template #loading>
  <p>Učitavanje vaše povijesti...</p>
</ng-template>